  <h1>Welcome!</h1>
  <div class="row">
    <div class="col-md-8">
  
      <h2><i>Affinity -</i></h2>
      <p>+ an attraction or liking for something</p>
      <p>+ sympathy marked by community of interest : kinship</p>
      <p>-- Merriam Webster</p>
      <p>Affinity Direct is about tauting the things you like; the things you find yourself drawn to in your community, i.e. establishments or services that you have or will use again and again, because they have had an impact on you, and you want others to share in that experience.
      
      <p><em>Do it here! Drop a good word! It's simple.</em></p>
      
      <p>Like attracts like. What do you have an affinity for?</p>
  
    </div>
  </div>





